@font-face {
    font-family: "Vazir";
    src: url("/Vazir-Regular.ttf");
}

* {
  
}

body {
    font-family: "Vazir";
    background-color: whitesmoke;
    margin: 0;
  padding: 0;
  outline: 0;
}

header{
 position: fixed;
 width: 100%;
 z-index: 10;
 text-align: center;
 font-size: 72px;
 line-height: 108px;
 background-color: white;
 height: 108px;
 color: #fff;
 box-shadow: #555;
 margin: 0;
  padding: 0;
  outline: 0;
}

header.sticky {
 font-size: 24px;
 line-height: 48px;
 height: 48px;
 background: #efc47D;
 text-align: left;
 padding-left: 20px;
 margin: 0;
  padding: 0;
  outline: 0;
}

.iconh1d {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  padding: 0;
  outline: 0;
}

.iconh1 {
    width: 200px;
    margin: 0;
  padding: 0;
  outline: 0;
}

.h2scards {
    text-align: right;
    margin-right: 20px;
    margin-top: 100px;
}

h2 {
    margin-top: 100px;
}

.hrcards {
    width: 50%;
    margin: auto;
    border: 1px solid #ddd;
}

.cardsne {
    text-align: center;
}

.cardsinfo {
    text-align: center;
    color: #555;
}

.cardsa {
    color: black;
}

#search {
  position: fixed;
  top: 40px;
  right: 250px;
  width: 800px;
  -webkit-transition: width ease 0.2s, opacity ease 0.4s;
  -moz-transition: width ease 0.2s, opacity ease 0.4s;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -webkit-font-smoothing: antialiased;
  text-align: right;
  font: 13px;
  padding: 4px 10px;
  border: none;
  background: transparent;
  margin-bottom: 0;
  outline: none;
  opacity: 0.7;
  color: black;
  background-color: white;
}

.footer {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 1em 0;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  direction: rtl;
}
.footer a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  #search {
    /*position: static;
    width: 500px;
    text-indent: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;*/
    display: none;
  }

  .srd {
    display: none;
  }

  .iconh1d {
    text-align: center;
    margin-right: 0px;
    margin-top: 10px;
  }
  
  .h2scards {
    margin-top: 100px;
  }

  h2 {
    margin-top: 150px;
  }
}